In [1]:
# pip install -U scikit-learn

# For Numeric Features

# Feature Scalling

# Data

In [2]:
import pandas as pd
data = {'values':[23000,45000,12000,78000,93000]}
df = pd.DataFrame(data)
df

   values
0   23000
1   45000
2   12000
3   78000
4   93000

## 1. min-max Scalling

In [3]:
from sklearn.preprocessing import MinMaxScaler


scalar = MinMaxScaler()
df['values_scaled'] = scalar.fit_transform(df[['values']])
df['values_scaled'] = df['values_scaled'].round(2)
df

   values  values_scaled
0   23000           0.14
1   45000           0.41
2   12000           0.00
3   78000           0.81
4   93000           1.00

## Stndard Scalar or Z-Scalar

In [4]:
from sklearn.preprocessing import StandardScaler

scalar = StandardScaler()
df['values_standrdScale'] = scalar.fit_transform(df[['values']])
df['values_standrdScale'] = df['values_standrdScale'].round(2)
df

   values  values_scaled  values_standrdScale
0   23000           0.14                -0.88
1   45000           0.41                -0.17
2   12000           0.00                -1.23
3   78000           0.81                 0.89
4   93000           1.00                 1.38

## 3. Robust Scalar

In [5]:
from sklearn.preprocessing import RobustScaler

scalar = RobustScaler()
df['values_robustScale'] = scalar.fit_transform(df[['values']])
df['values_robustScale'] = df['values_robustScale'].round(2)
df

   values  values_scaled  values_standrdScale  values_robustScale
0   23000           0.14                -0.88               -0.40
1   45000           0.41                -0.17                0.00
2   12000           0.00                -1.23               -0.60
3   78000           0.81                 0.89                0.60
4   93000           1.00                 1.38                0.87

## 4. Logrithmic scalling

In [6]:
import numpy as np

In [7]:
df['values_log'] = np.log(df['values'])
df['values_log'] = df['values_log'].round(2)

df['values_log2'] = np.log2(df['values'])
df['values_log2'] = df['values_log2'].round(2)

df['values_log10'] = np.log10(df['values'])
df['values_log10'] = df['values_log10'].round(2)

df

,values,values_scaled,values_standrdScale,values_robustScale,values_log,values_log2,values_log10
0,23000,0.14,-0.88,-0.40,10.04,14.49,4.36
1,45000,0.41,-0.17,0.00,10.71,15.46,4.65
2,12000,0.00,-1.23,-0.60,9.39,13.55,4.08
3,78000,0.81,0.89,0.60,11.26,16.25,4.89
4,93000,1.00,1.38,0.87,11.44,16.50,4.97

# For Categorical Features

# Fearture Encoding

## 1. 1-hot encoding

In [8]:
import pandas as pd

data = {'color':['blue', 'red', 'black', 'grey']}
df = pd.DataFrame(data)

In [9]:
encoded_data = pd.get_dummies(df, columns=['color'])
encoded_data

   color_black  color_blue  color_grey  color_red
0        False        True       False      False
1        False       False       False       True
2         True       False       False      False
3        False       False        True      False

## 2. Label_Encoding

In [10]:
from sklearn.preprocessing import LabelEncoder

data = {'animals' : ['Dog', 'Cat', 'Bird', 'Hen', 'Bird']}
df = pd.DataFrame(data)

In [11]:
label_encoder = LabelEncoder()
df['Animal_encoded'] = label_encoder.fit_transform(df['animals'])
df

  animals  Animal_encoded
0     Dog               2
1     Cat               1
2    Bird               0
3     Hen               3
4    Bird               0

## 3. Ordinal-Encoding

In [17]:
from sklearn.preprocessing import OrdinalEncoder

data = {'Size' : ['Small', 'Medium', 'Large', 'Medium']}
df = pd.DataFrame(data)

ordinal_encoder = OrdinalEncoder(categories=[['Small', 'Medium', 'Large']])
df['size_encoded'] = ordinal_encoder.fit_transform(df[['Size']])
df

     Size  size_encoded
0   Small           0.0
1  Medium           1.0
2   Large           2.0
3  Medium           1.0